.homesection-container {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    ". . socials socials . ."
    ". header header . button ."
    ". . chevron chevron . .";
}

.homesection-parallax {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}

.homesection-parallax .parallax-item {
  box-sizing: border-box;
  padding: 1vw;
}

/* Homesection Socials */
.homesection-socials-container {
  grid-area: socials;
  display: flex;
  justify-content: center;
  z-index: 5;
}

.homesection-socials-icon {
  color: #fff;
  font-size: 3vw;
  margin: 1vw 1.5vw;
}

.homesection-socials-icon:hover {
  color: #bbbbbb;
  cursor: pointer;
}

/* Homesection Header */
.homesection-header-container {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 5;
}

.homesection-header-name {
  margin: 0;
  color: #fff;
  font-size: 7vw;
  font-weight: 400;
}

.homesection-header-desc {
  margin: 0;
  color: #fff;
  font-size: 2vw;
  font-weight: 300;
}

/* Homesection Button */
.homesection-about-button-container {
  display: flex;
  grid-area: button;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.homesection-about-button {
  width: 100%;
  height: 30%;
  border: none;
  color: white;
  background-color: #34c45a;
  font-size: 2vw;
  font-family: Josefin Sans;
  font-weight: 700;
}

.homesection-about-button:hover {
  cursor: pointer;
  background-color: #ff8f5c;
}

/* Homesection Chevron */
.homesection-chevron-container {
  grid-area: chevron;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 5;
}

.homesection-chevron {
  color: #fff;
  font-size: 28px;
  animation: moveUpDown 1s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-8px);
  }
}

/* Phone and tablet */
@media only screen and (max-width: 1024px) {
  .homesection-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .homesection-socials-icon {
    font-size: 12vw;
    margin: 6vw 8vw;
  }

  .homesection-header-name {
    font-size: 24vw;
    text-align: center;
  }

  .homesection-header-desc {
    font-size: 6vw;
    text-align: center;
  }

  .homesection-about-button-container {
    display: flex;
    width: 70%;
    height: 26vh;
  }

  .homesection-about-button {
    font-size: 7vw;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .homesection-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .homesection-socials-icon {
    font-size: 4vw;
    margin: 2vh 4vh;
  }

  .homesection-header-name {
    font-size: 14vh;
    text-align: center;
  }

  .homesection-header-desc {
    font-size: 6vh;
    text-align: center;
  }

  .homesection-about-button-container {
    display: flex;
    width: 26%;
    height: 14vh;
  }

  .homesection-about-button {
    font-size: 6vh;
    height: 100%;
  }
}
