.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.modal {
  background: #23353e;
  width: 70%;
  height: 80%;
  display: flex;
  padding: 3vh 4vw;
}

.about-me-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 6vh;
}

.about-me-info-container {
  color: white;
}

.about-me-info-container h1 {
  font-size: 3vw;
}

.about-me-info-container p {
  font-size: 1vw;
}

.about-me-technologies-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tech-info {
  font-style: italic;
  font-size: 1.3vw;
  color: #34c45a;
}

.about-me-tech-icon {
  color: white;
  font-size: 3.5vw;
}

.middle-container {
  width: 10%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 4vw;
}

.modal-close {
  cursor: pointer;
  border: none;
  background: none;
  color: #34c45a;
  font-size: 2vw;
}

.modal-close:hover {
  color: #ff8f5c;
}

.dividers-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.divider-one {
  width: 0.2vw;
  background-color: #34c45a;
  height: 70%;
}

.divider-two {
  width: 0.2vw;
  background-color: #ff8f5c;
  height: 70%;
}

.contact-me-container {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-me-container h1 {
  color: white;
  font-size: 3vw;
}

.contact-me-container p {
  color: white;
  font-style: italic;
  font-size: 1.3vw;
}

.contact-me-inputfield {
  background: none;
  border: none;
  border-bottom: 0.3vh solid #ff8f5c;
  text-align: right;
  color: white;
  width: 80%;
  vertical-align: baseline;
  font-family: Josefin Sans;
  font-size: 1.5vw;
  padding: 0.7vh 0;
}

.contact-me-inputfield:focus {
  outline: none;
}

.contact-me-container label {
  font-size: 1.3vw;
  color: #ff8f5c;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 6vh;
}

.contact-me-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-end;
}

.contact-me-submit {
  font-size: 1.3vw;
  border: none;
  background-color: #ff8f5c;
  color: white;
  font-family: Josefin Sans;
  padding: 2vh 3vw;
}

.contact-me-submit:hover {
  background-color: #34c45a;
  cursor: pointer;
}

/* Phone and tablet */
@media only screen and (max-width: 1024px) {
  .modal {
    flex-direction: column;
    height: 90%;
    width: 85%;
  }

  .modal-close {
    font-size: 4vw;
  }

  .about-me-container {
    width: 100%;
    height: min-content;
    margin: 0;
    align-items: center;
  }

  .about-me-info-container {
    text-align: center;
  }

  .about-me-info-container h1 {
    font-size: 4vh;
  }

  .about-me-info-container p {
    font-size: 1.2vh;
  }

  .about-me-technologies-container {
    display: none;
  }

  .middle-container {
    display: none;
  }

  .contact-me-container {
    width: 100%;
    height: min-content;
    align-items: center;
  }

  .contact-me-container h1 {
    font-size: 4vh;
  }

  .contact-me-container p {
    display: none;
  }

  .contact-me-container form {
    align-items: center;
  }

  .contact-me-container label {
    align-items: center;
    font-size: 1.5vh;
  }

  .contact-me-inputfield {
    font-size: 1.5vh;
    text-align: left;
  }

  .contact-me-submit {
    font-size: 1.5vh;
  }
}

@media (orientation: landscape) and (max-width: 1024px) {
  .modal {
    flex-direction: column;
    height: 90%;
    width: 85%;
  }

  .modal-close {
    font-size: 4vh;
  }

  .about-me-container {
    width: 100%;
    height: min-content;
    margin: 0;
    align-items: center;
  }

  .about-me-info-container {
    text-align: center;
  }

  .about-me-info-container h1 {
    font-size: 4vh;
  }

  .about-me-info-container p {
    font-size: 2vh;
  }

  .about-me-technologies-container {
    display: none;
  }

  .middle-container {
    display: none;
  }

  .contact-me-container {
    width: 100%;
    height: min-content;
    align-items: center;
  }

  .contact-me-container h1 {
    font-size: 4vh;
  }

  .contact-me-container p {
    display: none;
  }

  .contact-me-container form {
    align-items: center;
  }

  .contact-me-container label {
    align-items: center;
    font-size: 2.5vh;
  }

  .contact-me-inputfield {
    font-size: 2.5vh;
    text-align: left;
  }

  .contact-me-submit {
    font-size: 2.5vh;
  }
}
