.project-number {
  color: white;
  font-style: italic;
  font-size: 6vw;
}

.project-in-progress-text {
  color: #ff8f5c;
  font-size: 2vw;
  border-radius: 1vw;
  border: 0.5vh solid;
  padding: 2vh 2vw;
}

.project-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  color: white;
}

.project-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.project-content-divider {
  background-color: #34c45a;
  width: 10%;
  height: 0.3vh;
  margin: 0 3vw;
}

.project-media-container {
  display: flex;
  justify-content: center;
  width: min-content;
}

.project-media-container * {
  height: 20vw;
}

.project-info-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 45%;
}

.project-info-container h1 {
  font-size: 3.5vw;
  text-align: right;
}

.project-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.project-desc-container h2 {
  margin: 0;
  color: #34c45a;
  font-size: 2.5vw;
}

.project-desc-container p {
  font-size: 1.5vw;
  font-style: italic;
  margin: 0;
  text-align: right;
  color: rgb(207, 207, 207);
}

.demo-btn {
  padding: 3vh 4vw;
  border: none;
  color: white;
  background-color: #34c45a;
  font-size: 2vw;
  font-family: Josefin Sans;
  font-weight: 700;
}

.demo-btn:hover {
  cursor: pointer;
  background-color: #ff8f5c;
}

.source-link {
  color: #34c45a;
  cursor: pointer;
  font-size: 1.5vw;
}

.source-link:hover {
  color: #ff8f5c;
}

.tech-icon {
  margin-top: 6vh;
  font-size: 4vw;
}
